body, html{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.container{
	flex-basis: 80%;
}
nav{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
}

.menu-1{
	position: relative;
	padding-left: 60px;
}
.menu-1 ul{
	list-style: none;
	text-decoration: none;
}
.menu-1 ul li{
	display: inline-flex;
}
.menu-2{
	position: relative;
}
.menu-2 ul{
	list-style: none;
	text-decoration: none;
}
.menu-2 ul ul{
	position: absolute;
	display: none ;
}
.menu-2 ul ul li {
	position: absolute;
	left: -3px;
	top:30px;
	}
.menu-2 ul li:hover ul{
	display: flex;
}
.logo{
	position: absolute;
	top:15px;
	left: 15px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button4 {
  background-color: white;
  color: red;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.section1{
	padding-top: 80px;
}
.section2{
	padding-top: 80px;
	padding-bottom: 40px;
}
.section3{
	padding-top: 40px;
	padding-bottom: 40px;
}
.FirstTextColor{
	color: 	#334673;
}
.myButton {
	background-color:#fff;
	border-radius:28px;
	border:1px solid #FF3946;
	display:inline-block;
	cursor:pointer;
	color:#334673;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#FF3946;
	text-decoration:none;
	color:#fff;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton1 {
	position: relative;
	left:10px;
	background-color:white;
	border-radius:28px;
	border:1px solid #FF3946;
	display:inline-block;
	cursor:pointer;
	color:#334673;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton1:hover {
	background-color:#FF3946;
	text-decoration:none;
	color:#fff;
}
.myButton1:active {
	position:relative;
	top:1px;
}
.myButton2 {
	background-color:white;
	border-radius:28px;
	border:1px solid #FF3946;
	display:inline-block;
	cursor:pointer;
	color:#334673;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-align: center;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton2:hover {
	background-color:#FF3946;
	text-decoration:none;
	color:#fff;
}
div.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
div.polaroid1 {
  width: 250px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.ImgPosition{
	padding-top: 20px;
	padding-bottom: 20px;
}
.LinkS{
text-decoration: none; 
color:#DD5A6C;
}
.ContactUs{
	color: #DD5A6C;
}

.box{
width: 250px;
height: 350px;
background: white;
  margin: 10px 10px;
transition: 1s;
cursor: pointer;


	}
.box:hover{
	transform: scale(1.0);
	color: #fff;
	z-index: 2;
	box-shadow: 2px 2px 2px #333;
	background-color:#FF3946;
	}
.Pic{
	background-color:#DD5AFF;
}
.Pic:hover{
 content: url('../img/white-arrow.PNG');
 background-color:#FF3946;
}
.FontColor{
	color:#DD5AFF;
}
.enjoy-css {
  display: inline-flex;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif, #334673;
  color: #334673;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(221,217,217,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #334673;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #334673;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #334673;
}
.SecondTextColor{
	color:#FF3946;
}
.BckgColor{
	background-color:#334673; 
}
.menuColor a{
	color: #FFF;
}
.menuColor{
	color: #FFF;
}
form {
    margin: 24px 0 0 0;
}

form input {
    width: 100%;
}
form span {
    display: flex;
    overflow: hidden;
   
}
.responsive{
	width:100%;
	height: auto;
}